[Desktop Entry]
Name=Task Manager
Name[ru]=Диспетчер задач
Comment=Easy to use task manager
Comment[ru]=Простой диспетчер задач
GenericName=Task Manager
GenericName[ru]=Диспетчер задач
Exec=xfce4-taskmanager
Icon=utilities-system-monitor
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;
X-XFCE-Source=file:///usr/share/applications/xfce4-taskmanager.desktop
